#header-top{
    p{
        margin-bottom: 0;
    }
    .nb-social-header{
        // align-items: center;
        // display: flex;
        .nb-icon-bg{
            text-decoration: none;
            i{

                width: 30px;
                height: 30px;
                color: #fff;
                border-radius: 50%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size: 15px;
            }
        }

    }
}

#header-content{

}
